body {font-family: Verdana, Geneva, Tahoma, sans-serif; color: #2E4374; background-color: #FFF5E0; padding: 40px;}
a {color: #000000;}
h1 {color: #96C291; text-align: center; padding: 40px;}
nav {background-color: #CEDEBD; padding: 10px;}
nav a{color: #352F44;}
nav a:hover {background-color: #ccc6ff;}
nav {margin-bottom: 30px;}
.quote {float: right;}
a:link {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;}
.address {margin: 10px, 10px, 10px, 10px; flex: 1;}
.contact {margin: 10px, 10px, 10px, 10px; flex: 1;}
body .row1 .contact a {color: #1f2e4f;}
.outreach {margin: 10px, 10px, 10px, 10px; flex: 2;}
.map {margin: 10px, 10px, 10px, 10px; flex: 1; display: flex;}
.clear {clear: both;}
.row1 {background-color: #CEDEBD; display: flex; border-radius: 1em;}
.row2 {background-color: #CEDEBD; display: flex; border-radius: 1em; flex-wrap: wrap;}
div {padding: 10px;}
.skills {display: flex; justify-content: space-between;}
aside {background-color: rgb(226, 199, 221); border-radius: 5px; padding: 20px;}
.flexbox2 {display: flex;}
.banner {max-width: 100%;}
body main {padding: 10px;}
form {max-width: 100%;}
.skip {background-color: #ffbf00;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute; /*positions an element relative to the top left of the viewport, can also put text on top of an image*/
    top: 10px;
    left: -999px; /* -999 pushes it off the left side fo the screen*/

    }

    .skip:focus {
        left: 10px; /*bring it back when it's been tabbed to*/

    }
@media only screen and (max-width: 800px)
    {nav a {width: 100%; display: block; padding: 10px;} span {display: none;}}

    
